<!DOCTYPE html>
<html lang="en">

<%- partial('../_partials/_head'); %>

<body>
    
    <div class="page">

        <div class="primary-content">

            <%- partial('../_partials/_aside'); %>

            <main>
                <% var article = public.articles._data[current.source]; %>
                <% article.yield = partial(current.source); %>
                <%- partial('_decorator', article) %>
            </main>
        </div>

    </div>
    
    <%- partial('../_partials/_scripts'); %>

</body>
</html>