.page {
    border-top: 5px solid $gray;
}

.primary-content {
    margin: 2em;

    @include wider-than(750px) {
        margin-left: auto;
        margin-right: auto;
        width: 650px;
        
    }

}