.link-list {

    a {
        display: block;
        padding: 0.5em;
        transition: all 0.2s;
        //border-bottom: 1px solid #eee;
        text-transform: uppercase;
        font-size: 0.8em;
        color: #777;

        // &:hover {
        //     color: $default-anchor-color;
        //     transform: translateX(1em);
        // }
    }

    &:hover a {
        border-bottom-color: #aaa;
    }

}