/**
 * Mobile Off-State
 */

// Checkbox
#toggle-menu { display: none; }

.toggle-menu.off {
    display: none;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
}

.toggle-menu.on {
    position: absolute;
    z-index: 1002;
    right: 1em;
    background-color: $gray;
    font-size: 0.6em;
    color: #fff;
    cursor: pointer;
    padding: 0.5em 1em;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-transform: lowercase;
}



/**
 * Mobile On-State
 */

@include smaller-than($nav-breakpoint) {
    #toggle-menu:checked {
        ~ .toggle-menu.off { display: block; }
        ~ .primary-aside { transform: translate(0); }
    }
}

/**
 * Primary Aside
 */

.primary-aside {
    z-index: 1001;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(calc(-100% + 5px));
    transition: all 0.3s;

    @include smaller-than($nav-breakpoint) {
        background-image: linear-gradient(-40deg, $pink, #05C5D8);
        border-bottom: 5px solid $gray;
    }

    @include wider-than($nav-breakpoint) {
        width: 200px;
        height: auto;
        border-radius: 0;
        left: auto;
        right: auto;
        top: auto;
        background-color: transparent;
        transform: translateX(-250px);
        transition: none;
    }

    > nav {

        /**
         * Mobile Nav Design
         */
        @include smaller-than($nav-breakpoint) {
            padding: 0.5em;
            padding-top: 0;

            a {
                margin-top: 1em;
                display: block;
                padding: 0.2em 0.5em;
                border: 1px solid rgba(255,255,255,0.3);
                text-decoration: none;
                font-size: 0.7em;
                font-weight: 300;
                color: #fff;
                &:hover {
                    background-color: #fff;
                    border-color: #fff;
                    color: $pink;
                }
            }
        }

        // Switch to columns
        @include between(500px, $nav-breakpoint) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            a {
                display: block;
                width: 49%;
            }
        }

        @include between(800px, $nav-breakpoint) {
            a { width: 32%; }
        }

        /**
         * Desktop Nav Design
         */
        @include wider-than($nav-breakpoint) {
            a {
                display: block;
                padding: 0.5em;
                border-bottom: 1px solid #eee;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 0.7em;
                color: #777;
                //transition: all 0.2s;

                &:hover {
                    color: $default-anchor-color;
                    //transform: translateX(1em);
                }
            }
        }
    }
}

// Don't display on and off toggles
.toggle-menu {
    @include wider-than($nav-breakpoint) {
        display: none;
    }
}