// Theme
$blue: #2B92DA;
$gray: #333;

// Reset Vars
$default-font-family: 'Open Sans', Arial;
$default-title-font-family: 'Abril Fatface';
$default-font-size: 14pt;
$default-font-weight: 400;
$default-text-color: $gray;
$default-anchor-color: $blue;

// Structure
$gutter: 1rem;

// Layout
$desktop-breakpoint: 1180px;