@mixin hint($bg-color) {
    position: relative;
    &::before {
        content: attr(data-hint);
        display: block;
        position: absolute;
        z-index: 1000;
        color: #fff;
        background-color: $bg-color;
        font-size: 10pt;
        padding: 3px 10px;
        border-radius: 3px;
        min-width: 40px;
        @content;
    }
    &::after {
        border: 6px solid transparent;
        content: "";
        position: absolute;
        z-index: 1001;
    }
}

@mixin hint-bottom-left($bg-color: #000) {
    @include hint($bg-color);
    $left: 10px;
    &::before, &::after {
        top: 100%;
        transform: translateY(-2px);
        transition: all 0.2s;
        visibility: hidden;
        opacity: 0
    }
    &::before {        
        left: $left;
        margin-top: 10px;
    }
    &::after {
        left: $left + 10px;
        border-bottom-color: $bg-color;
    }
    &:hover {
        &::before, &::after {
            visibility: visible;
            opacity: 1;
        }
    }
}

@mixin hint-slide-up() {
    &:not(:hover) {
        &::before, &::after {
            transform: translateY(10px);
        }
    }
}