<!DOCTYPE html>
<html lang="en">

<%- partial('./_partials/_head'); %>

<body>
    
    <div class="page">

        <div class="primary-content">

            <%- partial('./_partials/_aside'); %>

            <main>
                <%- yield %>
            </main>
        </div>

    </div>
    
    <%- partial('./_partials/_scripts'); %>

</body>
</html>