<head>
    <meta charset="UTF-8">
    <title><%= public.articles._data[current.source].title || 'Brad Westfall | Web Developer, Speaker, Blogger' %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
</head>