<nav>
    <% for (var slug in public.articles._data) { %>
        <% if (public.articles._data[slug].isArticle !== false) { %>
            <a href="/articles/<%= slug %>"><%= public.articles._data[slug].title%></a>
        <% } %>
    <% } %>
</nav>